

@media screen and (max-width: 900px) {



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {

    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    margin: 72px 0;

}

.page-title {

    color: rgb(236, 54, 78);
    padding-left: 64px;
    margin-bottom: 6px;

}

.page-description {

    padding-left: 64px;
    color: rgba(255, 255, 255, 0.6);

}

.videos {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 12px;

}

.video {

    width: 30%;
    height: fit-content;
    margin-top: 24px;
    padding: 32px 12px;
    transition: .5s ease-in-out;
    cursor: pointer;

}

.video:hover {

    transform: scale(1.02);
    filter: brightness(120%);

}

.thumbnail {

    width: 100%;

}

.video-time {

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    float: right;
    padding: 8px 12px;
    display: block;
    transform: translateY(-35px);

}

.video-title {

    margin: 8px 0 12px;
    color: white

}

.video-description {

    color: rgba(255, 255, 255, 0.6);
    margin: 0;

}

.video-views {

    color: rgba(255, 255, 255, 0.6);
    margin-top: 12px;
    display: block;

}

.video-date {

    text-align: right;
    display: block;
    color: rgba(255, 255, 255, 0.4); 
    font-size: 12px;

}

/*CSS das caixas*/


.flexBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 12px;
}

#imagem1 {
    width: 150px;
    height: 100px;
    background-image: url(https://picsum.photos/800/500?random=7);
    background-size: cover;
    background-repeat: no-repeat;
}

#imagem2 {
    width: 150;
    height: 100px;
    background-image: url(https://picsum.photos/800/500?random=8);
    background-size: cover;
    background-repeat: no-repeat;
}

#imagem3 {
    width: 150;
    height: 100px;
    background-image: url(https://picsum.photos/800/500?random9);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    margin: 8px 0 12px;
    color: white;
    margin-bottom: 10px;
}

.descricao {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
    margin-bottom: 10px;
    
}

.visualizacao {
    color: rgba(255, 255, 255, 0.6);
}

.data {
    text-align: right;
    display: block;
    color: rgba(255, 255, 255, 0.4); 
    font-size: 12px;
    margin-right: 40px;
}

.tempo {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    float: right;
    padding: 8px 12px;
    display: block;
    transform: translateY(-35px);
}

.video-caixa {
    width: 30%;
    height: fit-content;
    margin-top: 24px;
    padding: 32px 12px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.video-caixa:hover {

    transform: scale(1.02);
    filter: brightness(120%);

}

/* Segunda linha */

#imagem4 {
    width: 150;
    height: 100px;
    background-image: url(https://picsum.photos/800/500?random=10);
    background-size: cover;
    background-repeat: no-repeat;
}

#imagem5 {
    width: 150;
    height: 100px;
    background-image: url(https://picsum.photos/800/500?random=11);
    background-size: cover;
    background-repeat: no-repeat;
}

#imagem6 {
    width: 150;
    height: 100px;
    background-image: url(https://picsum.photos/800/500?random12);
    background-size: cover;
    background-repeat: no-repeat;
}

}

@media screen and (min-width: 900px) {



    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    
    body {
    
        background-color: #181818;
        font-family: 'Roboto', sans-serif;
        margin: 72px 0;
    
    }
    
    .page-title {
    
        color: rgb(236, 54, 78);
        padding-left: 64px;
        margin-bottom: 6px;
    
    }
    
    .page-description {
    
        padding-left: 64px;
        color: rgba(255, 255, 255, 0.6);
    
    }
    
    .videos {
    
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        gap: 12px;
    
    }
    
    .video {
    
        width: 30%;
        height: fit-content;
        margin-top: 24px;
        padding: 32px 12px;
        transition: .5s ease-in-out;
        cursor: pointer;
    
    }
    
    .video:hover {
    
        transform: scale(1.02);
        filter: brightness(120%);
    
    }
    
    .thumbnail {
    
        width: 100%;
    
    }
    
    .video-time {
    
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        width: fit-content;
        float: right;
        padding: 8px 12px;
        display: block;
        transform: translateY(-35px);
    
    }
    
    .video-title {
    
        margin: 8px 0 12px;
        color: white
    
    }
    
    .video-description {
    
        color: rgba(255, 255, 255, 0.6);
        margin: 0;
    
    }
    
    .video-views {
    
        color: rgba(255, 255, 255, 0.6);
        margin-top: 12px;
        display: block;
    
    }
    
    .video-date {
    
        text-align: right;
        display: block;
        color: rgba(255, 255, 255, 0.4); 
        font-size: 12px;
    
    }
    
    /*CSS das caixas*/
    
    
    .flexBox {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        gap: 12px;
    }
    
    #imagem1 {
        width: 500px;
        height: 310px;
        background-image: url(https://picsum.photos/800/500?random=7);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #imagem2 {
        width: 500px;
        height: 310px;
        background-image: url(https://picsum.photos/800/500?random=8);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #imagem3 {
        width: 500px;
        height: 310px;
        background-image: url(https://picsum.photos/800/500?random9);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .titulo {
        margin: 8px 0 12px;
        color: white
    }
    
    .descricao {
        color: rgba(255, 255, 255, 0.6);
        margin: 0;
        
    }
    
    .visualizacao {
        color: rgba(255, 255, 255, 0.6);
    }
    
    .data {
        text-align: right;
        display: block;
        color: rgba(255, 255, 255, 0.4); 
        font-size: 12px;
        margin-right: 40px;
    }
    
    .tempo {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        width: fit-content;
        float: right;
        padding: 8px 12px;
        display: block;
        transform: translateY(-35px);
    }
    
    .video-caixa {
        width: 30%;
        height: fit-content;
        margin-top: 24px;
        padding: 32px 12px;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .video-caixa:hover {
    
        transform: scale(1.02);
        filter: brightness(120%);
    
    }
    
    /* Segunda linha */
    
    #imagem4 {
        width: 500px;
        height: 310px;
        background-image: url(https://picsum.photos/800/500?random=10);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #imagem5 {
        width: 500px;
        height: 310px;
        background-image: url(https://picsum.photos/800/500?random=11);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #imagem6 {
        width: 500px;
        height: 310px;
        background-image: url(https://picsum.photos/800/500?random12);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    }